*{
    margin: 0;
    padding: 0;
}

/* nav start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 5%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #575757;
}
.right-side button{
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #1D4ED8;
    border: none;
    color: white;
}

/* banner start here */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('./images/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
   }
.header-content{
    color: white;
    text-align: center;
      
}
.header-content h1{
    padding-top: 80px;
}
.header-content button{
    margin-top: 200px;
    border-radius: 5px;
    background-color: #1D4ED8;
    border: none;
    color: white;
    width: 30%;
    padding: 10px 0;
}
.header-content p{
        margin-top: 15px;
}

/* speakers section start */

.speakers-parent{
text-align: center;
margin: 30px 50px;
}

.speakers-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    object-fit: cover;
    gap: 20px;
    padding: 5px, 5%;
    
}
.speakers-card{
margin: 10px;
border: 1px solid #E5E7EB;
}
.speakers-card img{
width: 100%;
border-radius: 5px 5px 0 0;

}
.speakers-card h5{
color: #2563EB;
text-align: left;
}
.speakers-card h3{
font-weight: bold;
text-align: left;
}
.speakers-card p{
text-align: left;
color: #575757;
}

/* spot start here */
.spot-parent{
text-align: center;
margin-bottom: 25px;
padding: 5px 20px;

}
.spot-container{
    display: flex;
    justify-content:space-between;
    margin: 10px 80px;
    }
.spot-card ul{
text-align: left;
margin-left: 12px;
list-style: disc;
display: grid;
gap: 5px;
}
.spot-card li{
color: #333333;
}
.spot-card li::marker{
color: #2563EB;
}
.spot-card{
    text-align: left;
    width: 380px;
    border: 1px solid lightslategray;
    background-color: #FFFFFF;
    padding: 15px 25px;
    margin: 20px 10px;
    border-radius: 5px;
}
.spot-card p{
    color: #888888;

}
hr{
    color: #E5E7EB;
    width: 80%;
    margin: 10px 0px 10px 0px;
}
.spot-card .btn-standard{
    width: 80%;
    padding: 5px;
    margin: 15px 0px 10px 25px;
    border-radius: 5px;
    border: 1px solid #2563eb;
}
.spot-card .btn-pro{
    width: 80%;
    padding: 5px;
    margin: 15px 0px 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: #2563eb;
    color: white;
}
.spot-card .btn-team{
    width: 80%;
    padding: 5px;
    margin: 15px 0px 10px 25px;
    border-radius: 5px;
    border: 1px solid black;
}

/* missing start */

.faq-section{
    width:90%;
    max-width:1000px;
    margin:20px auto;
    font-family:Inter,sans-serif;
}

.faq-title{
    text-align:center;
    margin-bottom:50px;
}

.faq-title span{
    color:#2563eb;
    font-weight:700;
    letter-spacing:2px;
    }

.faq-title h2{
    
    margin:15px 0;
    color:#0f172a;
}

.faq-title p{
    color:#64748b;
    font-size:14px;
}

.faq-container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.faq-item{
    background:#fff;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    overflow:hidden;
}

.faq-question{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 30px;
    
}

.faq-question h3{
    font-size:16px;
    color:#0f172a;
}

.faq-question span{
    font-size:30px;
    color:#2563eb;
    font-weight:700;
}

.faq-answer{
    border-top:1px solid #e2e8f0;
    padding:25px 30px;
}

.faq-answer p{
    color:#64748b;
    font-size:16px;
}